<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/styles.css' | relative_url }}">
</head>
<body>

    <!-- Sidebar -->
    <aside>
        <h1><a href="{{ '/' | relative_url }}" style="color: white; text-decoration: none;">{{ site.title }}</a></h1>        <nav>
            <a href="{{ '/summary' | relative_url }}">Summary</a>
            <a href="{{ '/resume' | relative_url }}">Resume</a>
            <a href="{{ '/robotics' | relative_url }}">Robotics</a>
            <a href="{{ '/projects' | relative_url }}">Projects</a>
            <a href="{{ '/professional-experience' | relative_url }}">Professsional Experience</a>
            <a href="{{ '/competitions' | relative_url }}">Competitions</a>
            <a href="{{ '/music-arts' | relative_url }}">Music & Arts</a>
            <a href="{{ '/community-service' | relative_url }}">Community Service</a>
            <a href="{{ '/contact' | relative_url }}">Contact</a>
        </nav>
    </aside>

    <!-- Main content -->
    <main>
        {{ content }}
    </main>

</body>
</html>
